/* 전체 스타일 적용 부분 */

body {
    margin: 0;
    font-family: 'Source Sans Pro';
}

a {
    text-decoration: none;
    color: black;
}



.b-example-divider{
    margin: 5px;
    padding: 2px;
}

.style-btn {
    position:relative;
    left:5%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    width:10%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
  }

.style-btn:hover {
    background-position: right;
    }

  #id_comment_text{
    height:100px;
    width:700px;;
  }

  #id_title {
    width: 720px;
  }

  .card-img-top {
    height : 15rem;
    object-fit: cover;
  }
/* -------------------------------------------------- */

.instructor_list_hero{
    background-color: #40a9ff;
    display: block;
}

.hero-content{
  padding: 32px;
  position: relative;
  margin: auto;
  max-width: 1200px;
  flex-grow: 1;
  width: auto;
}

.hero-content__image-cover{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(https://cdn.inflearn.com/public/mentors/mentors_banner_w.png);
  background-position: right 30%;
  background-repeat: no-repeat;
}

.heading_list{
  font-size: 26px;
  font-weight: 800;
  line-height: 1.46;
  color: #1b1c1d;
}

.heading_desc{
  margin-top: 0.75rem;
  letter-spacing: -.3px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #1b1c1d;
}