@charset "UTF-8";

*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h2{
  display: inline;
}
span{
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: lightgray;
}
hr{
  margin-right: 50px;
  margin-bottom: 30px;
  width: 98%;
}
.title{
  display: flex;
  flex-direction: row;
}



table.update {
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  border-top: 1px solid black;
  /* border-left: 1px solid #ccc; */
  margin:  0 auto;
  width: 98%;
  margin-right: 50px;

}
table.update th {
  width: 80px;
  padding: 15px;
  font-weight: 400;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.03);
}


table.update td {
  width: 500px;
  padding: 10px;
  vertical-align: top;
  /* border-right: 1px solid #ccc; */
  border-bottom: 1px solid #ccc;
}

.container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}


.card {
  margin: 0 auto;
  margin-bottom: 40px;
  /* position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem; */
  width: 98%;
  margin-right: 50px;
}
.userTitle{
  font-weight: bold;
  font-size: larger;
}

/* .card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
} */



#userupdate{
  width: 70px;
  height: 30px;
  float: right;
  background-color :white;
  border: 1px solid lightgray;
}




/* .sb-nav-fixed  {
  z-index: 139;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
  width: 225px;
  height: 100vh;
  z-index: 1038;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
  padding-top: 56px;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
  overflow-y: auto;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
  padding-left: 225px;
  top: 56px;
}
 */

