{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>토닥토닥</title>
    <link href="{% static 'image/favicon-96x96.png' %}" sizes="96x96" rel="shortcut icon" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/board.css'%}">
  
</head>
<body>
        <!-- header -->
        {% include "user/header.html" %}

        <div id="content">
            <div class="view">
            <div class="titleContainer">
                <span class="title">
                    {{ board.title }}
                </span>
                <span class="divider">|</span>
                <span class="bbsCategory"><a href="#">자유게시판</a></span>
                <span class="titleRightBox">
                <span class="nickname"> {{ board.author.nickname }} |</span>
                <span class="titleDate">{{ board.created_bd|date:'Y년 m월 d일 H시 i분'  }}</span>
                <span class="divider">|</span> 
                조회  {{ board.show_ct }}
                    {% if saw %}
                    <span class="bbsLink"><a href="/board/board_detail/{{ board.id }}/modify/"><button class="btn btn-outline-primary">수정</button></a></span>
                    <span class="bbsLink"><a href="/board/board_detail/{{ board.id }}/delete/"><button class="btn btn-outline-primary">삭제</button></a></span>
                    {% endif %}   
                </span>
                <div class="clear"></div>
            </div>
            
                <div class="articleContainer mt-5">
                <p>{{ board.text|safe }}</p>
                </div>
            </div>

            <form method="POST" action="{% url 'new_comment' board.id %}" class="">
                <div class="d-flex">
                {% csrf_token %}
                {{ comment_form }} 
                <input type="submit" class="btn btn-outline-primary" id="comment_button" value="댓글 입력">
                </div>
            </form>
            <div class="clear"></div>
            <div class="commentContainer">   
                <ul>
                    <li><table>
                        <tbody>
                                    {% for comment in board.comment_set.all %}
                                    
                            <tr><td class="cmt_icon"><img class="imageBox" src="http://gfmarket.phinf.naver.net/sally_special/original_11.png?type=p50_50" alt="profile image"></td>
                                <td><a href="#" class="cmt_author">{{ comment.author.nickname }}</a><span class="cmt_date">{{ comment.created_bd }}</span><a href="#" class="cmt_reply">답글</a></td><td>
                                    <span class="divider">|</span> 
                                    {% if comment.author.email == session %} 
                                    <a href="{% url 'update_comment' board.id comment.id  %}"><input type="button" class="btn btn-outline-primary" value="수정"></a>
                                    <a href="{% url 'delete_comment' board.id comment.id  %}"><input type="button" class="btn btn-outline-primary" value="삭제"></a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="2"><p> {{ comment.comment_text }}</p></td>
                                    {% endfor %}
                            </tr>
                        </tbody>
                    </table></li>
                </ul>        
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        document.querySelector('label[for="id_comment_text"]').textContent='{{ board.author.nickname }}';
        document.querySelector('label[for="id_comment_text"]').textContent='{{ login_user.nickname }}';
    </script>
</body>
</html>