{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>마이페이지 메인화면</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="{% static 'css/mypage-style.css' %}">
        <script src="{% static 'js/mypage-script.js' %}"></script>
    </head>
    
    <body class="sb-nav-fixed">
        {% include "user/header.html" %}
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <a class="navbar-brand ps-3" href="{% url 'mypage'%}">Mypage</a>
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">개인정보</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                                개인정보
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <div  class="nav-link"  onclick="userinfo()" > 개인정보 수정</div>
                                    <div  class="nav-link" onclick="passwordupdate()">비밀번호 수정</div>

                                </nav>
                            </div>

                            <div class="sb-sidenav-menu-heading">강의</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseVideo" aria-expanded="false" aria-controls="collapseVideo">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                나의 강의
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseVideo" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" onclick="lectureInfo()">강의 수강 및 메모 </a>
                                    <a class="nav-link" onclick="lectureDelete()">강의 목록 삭제</a>
                                </nav>
                            </div>

                            <div class="sb-sidenav-menu-heading">상담정보</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                상담 정보
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <div class="nav-link" onclick="consultingList()" >상담 내역</div>
                                    <div class="nav-link"  onclick="reservationChatting()">상담 예약 채팅</div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content" >
                <main>
                    <iframe  id = "main" src="{% url 'mypageAdmin' %}"></iframe>
                </main>
            </div>
        </div>
        <script>
            function userinfo(){
                document.getElementById("main").setAttribute("src","{% url 'userinfoUpdate'%}")
            }

            function passwordupdate(){
                document.getElementById("main").setAttribute("src","{% url 'passwordUpdate'%}")
            }



            function lectureInfo() {
            document.getElementById("main").setAttribute("src","{% url 'lecture' %}")
            }

            function lectureDelete() {
            document.getElementById("main").setAttribute("src","{% url 'lectureDelete' %}")
            }

            function reservationChatting() {
                  document.getElementById("main").setAttribute("src","{% url 'reservationChat' %}")
            }
            
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </body>
</html>