{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>채팅</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/userinfo.css' %}" rel="stylesheet" />
        <style>
            #ListMentorTable th{
                 position: sticky;
                 top: 0px;
                background-color:yellow!important;
            }
            #ListMentorProposeTable th{
                 position: sticky;
                 top: 0px;
                background-color:yellow!important;
            }
            #ListMentorReceiveTable th{
                 position: sticky;
                 top: 0px;
                background-color:yellow!important;
            }
            #ListChattingStartTable th{
                  position: sticky;
                 top: 0px;
                background-color:yellow!important;
            }
        </style>
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
       <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                      <script>

                    $(document).ready(function() {

                        {#$("#ListMentorTable>tbody>tr").on("click", function () {#}
                        {#    alert($(this).attr("id"));#}
                        {#                        }); #}
                        {#                    });#}
                        {##}
                    });
        </script>
    </head>
    <body class="sb-nav-fixed">
    <div style="height:900px;">
    {% if isParents is True %}
        <div class="" style="width:330px; height:200px; overflow-y:scroll;">
        <h3>멘토 목록</h3>
            <table id="ListMentorTable" style="margin:0px;">
                <thead style="text-align: center;">
                    <th style="width:100px;">멘토명</th>
                    <th style="width:100px;">닉네임</th>
                    <th style="width:100px;">채팅신청</th>
                </thead>
                <tbody style="text-align: center;">
                 {% for mentor in mentoUser %}

                <tr id="{{ mentor.email }}" mentorID="{{ mentor.email }}" style="cursor:pointer;">
                           <td>{{ mentor.name }}</td>
                           <td>{{ mentor.nickname }}</td>
                           <td><a href="{% url 'chat_propose' mentor.email %}"><input type="button" value="채팅신청"> </a></td>
                </tr>

                  {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
          {% if isParents is True %}
         <div class="" style="width:330px; height:200px; overflow-y:scroll;">
        <h3>채팅 신청목록</h3>
            <table id="ListMentorProposeTable" style="margin:0px;">
                <thead style="text-align: center;">
                    <th style="width:100px;">멘토명</th>
                    <th style="width:100px;">닉네임</th>
                    <th style="width:100px;">신청취소</th>
                </thead>
                <tbody style="text-align: center;">
                 {% for onePropose in myPropose %}
                <tr id="{{ onePropose.email_id}}" oneProposeID="{{ onePropose.email_id  }}" style="cursor:pointer;">
                           <td>{{ onePropose.email.name }}</td>
                           <td>{{ onePropose.email.nickname }}</td>
                    <td><a href="{% url 'chat_cancel' onePropose.id %}"><input type="button" value="신청취소"></a></td>
                </tr>
                     </a>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
  {% if isParents is not True %}
         <div class="" style="width:330px; height:200px; overflow-y:scroll;">
        <h3>채팅 수락</h3>
            <table id="ListMentorReceiveTable" style="margin:0px;">
                <thead style="text-align: center;">
                    <th style="width:100px;">회원명</th>
                    <th style="width:100px;">닉네임</th>
                    <th style="width:100px;">채팅수락</th>
                </thead>
                <tbody style="text-align: center;">
                 {% for oneReceive in receivePropose %}
                <tr id="{{ oneReceive.my_email }}" mentorID="{{ oneReceive.my_email }}" style="cursor:pointer;">
                           <td>{{ oneReceive.name }}</td>
                           <td>{{ oneReceive.nickname }}</td>
                    <td><a href="{% url 'chat_accept' oneReceive.id %}"><input type="button" value="채팅수락"></a></td>
                </tr>
                     </a>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if isParents is True %}
            <div class="" style="width:330px; height:200px; overflow-y:scroll;">
        <h3>채팅 가능목록</h3>
            <table id="ListChattingStartTable" style="margin:0px;">
                <thead style="text-align: center;">
                    <th style="width:100px;">멘토명</th>
                    <th style="width:100px;">닉네임</th>
                    <th style="width:100px;">채팅시작</th>
                </thead>
                <tbody style="text-align: center;">
                 {% for OnebothPropose in bothPropose %}
                <tr id="{{ OnebothPropose.email_id }}" mentorID="{{ OnebothPropose.email_id }}" style="cursor:pointer;">
                           <td>{{ OnebothPropose.email.name }}</td>
                           <td>{{ OnebothPropose.email.nickname }}</td>
                    <td><a href="{% url 'api_create_room' OnebothPropose.email_id %}"><input type="button" value="채팅방 입장"></a></td>
                </tr>
                     </a>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if isParents is not True %}
            <div class="" style="width:330px; height:200px; overflow-y:scroll;">
        <h3>채팅 가능목록</h3>
            <table id="ListChattingStartTable" style="margin:0px;">
                <thead style="text-align: center;">
                    <th style="width:100px;">회원명</th>
                    <th style="width:100px;">닉네임</th>
                    <th style="width:100px;">채팅시작</th>
                </thead>
                <tbody style="text-align: center;">
                 {% for OnebothPropose in bothPropose %}
                <tr id="{{ OnebothPropose.my_email }}" mentorID="{{ OnebothPropose.my_email }}" style="cursor:pointer;">
                           <td>{{ OnebothPropose.name }}</td>
                           <td>{{ OnebothPropose.nickname }}</td>
                    <td> <a href="{% url 'api_create_room' OnebothPropose.my_email %}"><input type="button" value="채팅방 입장"></a></td>
                </tr>
                     </a>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
{#        <script src="assets/demo/chart-area-demo.js"></script>#}
{#        <script src="assets/demo/chart-bar-demo.js"></script>#}
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'js/datatables-simple-demo.js' %}"></script>


    </body>
</html>