{% load static %}
<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<!--room_name 을 핸들링 하는 json script-->
{{ room_name|json_script:"room-name" }}
{{ user.username|json_script:"user_email" }}
{{ user.id|json_script:"user_id" }}
<script>
    <!--roomName 변수에 room_name 할당-->
// JSON.parse() 메소드 : json 문자열의 구문을 분석하고 결과로 javascript 값이나 객체 생성
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const user_email = JSON.parse(document.getElementById('user_email').textContent);
    const user_id = JSON.parse(document.getElementById('user_id').textContent);
    {#var roomName = "";#}
    console.log('채팅방 입장');
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/mypage/chat/' + '{{ room_name }}' + '/');
    console.log('여기까지 1');
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message =  data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

        // chatSocket에 onopen 메소드 지정
    chatSocket.onopen = function (e) {
        fetchMessages();
    }

    function fetchMessages() {
        chatSocket.send(JSON.stringify({'command': 'fetch_messages'}))
    }

    chatSocket.onclose = function(e) {
        console.log('강제종료');
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'userinfo_object': {{ userinfo_object.name }}
        }));

        messageInputDom.value = '';
    };
</script>
</html>